@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --purple: #aa59c0;
    --yellow: #f3d012;
    --periwinkle: #9eb4f1;
    --blue: #5fbbda;
    --coral: #f9878e;
    --white: #f2f2f2;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Poppins', sans-serif;
    border: none;
}
.header {
    flex-shrink: 0;
    height: 130px;
    width: 100%;
}

.greeting {
    background: rgb(249, 135, 142);
    background: linear-gradient(
        133deg,
        rgba(249, 135, 142, 1) 0%,
        rgba(242, 242, 242, 1) 12%
    );
    height: inherit;
    width: inherit;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

.container {
    flex: 1 0 auto;
    background: var(--white);
    height: calc(viewport - 230px);
    overflow-y: auto;
}

.playlist-menu {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    display: none;
    /* just testing, erase line 71 when done making the other pages */
}

.playlist-button {
    margin: auto;
    height: 100px;
    width: 90%;
    border-radius: 5px;
    font-size: 30px;
}

#easy {
    background-color: var(--periwinkle);
}

#medium {
    background: var(--blue);
}

#hard {
    background-color: var(--coral);
}

.spotify-player {
    flex-shrink: 0;
}

.progress-ring_circle {
    transition: 0.5s;
    transform: rotate(-90deg);
    stroke: var(--coral);
}

.pulsing {
    stroke: var(--blue);
    animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% {
        transform: rotate(-90deg) scale(1);
    }
    50% {
        transform: rotate(-90deg) scale(1.05);
    }
    75% {
        transform: rotate(-90deg) scale(0.8);
    }
}

.nav-bar {
    flex-shrink: 0;
    background: var(--white);
    background: rgba(102, 102, 102, 0.2);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-bar-button {
    background: none;
    height: 64px;
    width: 64px;
}
