@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --periwinkle: #9eb4f1;
    --blue: #5fbbda;
    --coral: #f9878e;
    --white: #f2f2f2;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: var(--periwinkle);
    background-image: url('https://images.unsplash.com/photo-1612599316791-451087c7fe15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1124&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    color: #1e1b18;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.image-container {
    height: 100%;
    width: 100%;
    grid-row: 1;
    padding: 10px;
}

.button-container {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background: #f2f2f2;
}

#logo-image {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
}

.intro-text {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

button {
    margin: 10px;
    margin-top: 5px;
    height: 60px;
    width: 90%;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    color: #f2f2f2;
}

button:hover {
    cursor: pointer;
}

.log-in {
    background: #f9878e;
}

.close-button {
    background: #1e1b18;
    border: 3px solid white;
}

.link {
    text-decoration: none;
    color: var(--white);
}

@media (min-width: 575px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-container {
        border-radius: 10px;
        margin: 20px;
    }
}

@media (min-width: 900px) {
    .button-container {
        height: 80%;
        width: 40%;
        justify-content: center;
        padding: 20px;
    }

    #logo-image {
        height: 60px;
        width: 60px;
    }

    .intro-text {
        margin-bottom: 30px;
        padding: 20px;
    }

    button {
        width: 80%;
    }
}
