@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --periwinkle: #9eb4f1;
    --blue: #5fbbda;
    --coral: #f9878e;
    --white: #f2f2f2;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(249, 135, 142);
    background: linear-gradient(
        133deg,
        rgba(249, 135, 142, 0.5) 0%,
        rgba(242, 242, 242, 1) 10%
    );
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Poppins', sans-serif;
    border: none;
}

button:hover {
    cursor: pointer;
}

.header {
    flex-shrink: 0;
    height: 130px;
    width: 100%;
}

.greeting {
    background: transparent;
    height: inherit;
    width: inherit;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

#timer-header {
    display: none; /* the initial state */
}

#user-header {
    display: none; /*initial state*/
}

.container {
    flex: 1;
    background: transparent;
    height: calc(100% - 230px);
    overflow-y: auto;
}

.playlist-menu {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    /* display: none; */
}

.playlist-cards {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    border-radius: 10px;
    background: rgba(255, 247, 247, 0.6);
    box-shadow: 0px 0px 3px 1px rgba(102, 102, 102, 0.2);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    grid-row: 1;
    padding: 10px;
}

.card-desc {
    grid-row: 2;
    padding: 10px;
}

.playlist-button {
    grid-row: 3;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.play-buttons {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

#easy {
    background-color: var(--periwinkle);
}

#medium {
    background-color: var(--blue);
}

#hard {
    background-color: var(--coral);
}

.timer-page {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
}

.progress-ring {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-ring_circle {
    z-index: 0;
    transition: 1s ease-in-out;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: var(--coral);
}

.clock {
    font-size: 50px;
    z-index: 1;
}

#pomodoro,
#short-break,
#long-break {
    background: rgba(102, 102, 102, 0.2);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

#main-button {
    background: var(--coral);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    width: 60%;
}

.user-page {
    background: rgba(173, 172, 172, 0.2);
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 40% 1fr 1fr 1fr 1fr;
    gap: 0px;
    padding: 0px;
    display: none;
}

.user-row {
    grid-row: 1;
    border-top: 1px solid rgba(164, 162, 162, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-module {
    background: var(--white);
    height: 150px;
    width: 250px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-image {
    height: 40px;
    width: 40px;
    object-fit: contain;
    margin: 10px;
}

.user-choices {
    background: var(--white);
    border-top: 1px solid rgba(164, 162, 162, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 18px;
}

#chevron-button {
    height: 30px;
    width: 30px;
}

.credits {
    display: none;
}

.spotify-player {
    flex-shrink: 0;
}

.nav-bar {
    flex-shrink: 0;
    background: var(--white);
    background: rgba(102, 102, 102, 0.2);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-bar-button {
    background-color: transparent;
    height: 64px;
    width: 64px;
}
